ul {
    list-style-type: none;
}

body {
    font-family: MicrosoftYaHei;
}

li {
    float: left;
    margin: 20px;
}

.title {
    display: none;
    font-size: 16px;
}

.navbar {
    background: #1F1F1F;
}

.nav-link, .navbar-brand {
    color: #ffffff;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    background: #fff !important;
}

.nav-login {
    width: 60px;
    height: 30px;
    background-color: #099DFF;
    border-radius: 2px;
    line-height: 100%;
    text-align: center;
}

@media (min-width: 1200px) {
    .container {
        margin-top: 135px;
        border: 1px solid #E7E7E7;
    }

    .footerp {
        margin-top: 20px;
        color: #3B3B3B;
        margin-left: 19.5%;
        font-size: 16px;
    }

    .ml-ul {
        margin-left: 16%;
    }
}

@media (max-width: 576px) {
    .container {
        margin-top: 120pt;
    }
}


.input-style {
    width: 300px;
    height: 42px;
    border: 1px #FFFFFF solid;
    background-color: #1F1F1F;
    margin-top: 20px;
}

.default-checkt {
    background-color: #1F1F1F;
    color: #FFFFFF;
}

.word-style {
    color: #3B3B3B;
}

a:link {
    text-decoration: none !important;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #1E9FFF;
}

a:active {
    text-decoration: none;
}

.label-style {
    color: #9B9B9B;
}


.footerbackground {
    background: rgba(231, 231, 231, 1);
    padding: 20px;
}

.entity-button-style {
    height: 30px;
    border-radius: 15px;
    border: 1px #E7E7E7 solid;
}
