<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body><!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <title>计算机视觉</title>
    <style>
        ul {
            list-style-type: none;
        }

        li {
            float: left;
            margin: 20px;
        }

        .row {
            border: rgba(0,0,0,0.3) 1px solid;
            margin: 10px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                计算机视觉
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                计算机视觉（CV）是指机器感知环境的能力。这一技术类别中的经典任务有图像形成、图像处理、图像提取和图像的三维推理。目标识别和面部识别也是很重要的研究领域。计算机视觉是深度学习技术最早实现突破性成就的领域。随着2012年深度学习算法AlexNer赢得图像分类比赛冠军，深度学习开始受到学术界广泛的关注。

目前的主要应用有：
1 人脸识别
在物体识别当中，人脸识别是应用非常广泛的技术。在娱乐行业里，给予人脸识别的相机自动对焦、自动美颜功能。在安防、风控领域中人脸识别技术大大提高了工作效率并节省了人力成本。比如在金融行业，为了控制贷款风险，在用户注册或贷款发放时需要验证本人信息。在人脸识别数据集LFW（Labeled Faces in the Wild）上，基于深度学习算法的系统DeepID2可以达到99.47%识别率。


2 OCR领域应用。光学字符识别也是使用深度学习较早的领域之一。所谓光学字符识别，就是使用计算机程序将计算机无法理解的图片中的字符，比如数字、字母、汉字等符号，转化为计算机可以理解的文本格式。早在1989年，Yann LeCun教授发表的论文Backpropagation Applied to Handwritten Zip Code Recognition将卷积神经网路成功应用到了识别手写邮政编码的问题上，达到了接近95%的正确率。

3 工业界也将图像分类、对象检测和物体识别应用于各种产品中。像百度的图片相似搜索功能，就是一个通过图像处理技术可以归纳出图片中的主要内容并实现以图搜图的功能。
        
        
        来源：<a href="https://www.jiqizhixin.com/" target="_blank" rel="noopener noreferrer">计算机视觉</a>
            </p>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>