<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body><!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <title>专门秀秀是啥</title>
    <style>
        ul {
            list-style-type: none;
        }

        li {
            float: left;
            margin: 20px;
        }

        .row {
            border: rgba(0,0,0,0.3) 1px solid;
            margin: 10px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                专门秀秀是啥
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                大家都知道，阿里P7前端高级工程师，基本上是一线前端技术人能达到的最高职级，也是很多程序员追求的目标。达到年薪50W+股票的P7级别，不仅要具备优秀的编程能力，在系统设计能力和技术视野方面，也要有较深的积淀。现在面向前端程序员，专门打磨了进阶课程《JavaScript高级工程师》和《Web全栈架构师》，帮助大家打破技术瓶颈，提高自身竞争力，实现职业的可持续成长。"


        来源：<a href="http://mp.weixin.qq.com/s?__biz=MzA3NTUzNjk1OA==&amp;mid=2651562367&amp;idx=1&amp;sn=7b9acf5e607ad519eba8d31748a819e9&amp;chksm=84900e2eb3e787385d760494f0ac09957302bc5211aa47e05b1880c6b7333669a2c7d2e08b3e&amp;mpshare=1&amp;scene=1&amp;srcid=#rd" target="_blank" rel="noopener noreferrer">专门秀秀是啥</a>
            </p>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>