<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body><!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <title>马尔可夫链蒙特卡尔理论</title>
    <style>
        ul {
            list-style-type: none;
        }

        li {
            float: left;
            margin: 20px;
        }

        .row {
            border: rgba(0,0,0,0.3) 1px solid;
            margin: 10px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                马尔可夫链蒙特卡尔理论
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                马尔可夫链蒙特卡洛方法（MCMC）本质上是将马尔可夫链用于对蒙特卡洛方法的积分过程中，贝叶斯学派（有时亦包括频率派学者）常常需要对高维概率分布进行积分，从而推断出其模型的参数，或利用模型作出预测。传统蒙特卡洛积分的理念是从所要求的概率分布中进行抽样、得到样品平均值、并估算出期望值；而MCMC则是在抽样分布中构造出一条马尔可夫链，即建立一个随机抽样过程，弥补了传统蒙特卡洛积分过去只能静态模拟的缺陷，并为贝叶斯理论在高维分布的应用开辟了新的道路。目前有许多种算法来构造这样一条马尔可夫链，但所有的算法，甚至包括*吉布斯采样*，都是*梅特罗波利斯－黑斯廷斯算法（Metropolis–Hastings algorithm）*总体框架的特例。
        
        
        来源：<a href="https://www.jiqizhixin.com/" target="_blank" rel="noopener noreferrer">马尔可夫链蒙特卡尔理论</a>
            </p>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>