<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body><!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <title>豆瓣电影评分是怎么计算的？</title>
    <style>
        ul {
            list-style-type: none;
        }

        li {
            float: left;
            margin: 20px;
        }

        .row {
            border: rgba(0,0,0,0.3) 1px solid;
            margin: 10px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                豆瓣电影评分是怎么计算的？
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                豆瓣创始人阿北介绍过豆瓣电影的评分机制：把豆瓣用户的打分（一到五星换算为零到十分）加起来，再除以打分人数。每过几分钟，程序会自动重跑一遍，以便把最新的分数加进来。但这个「一人一票」的打分机制至今都在完美运行，豆瓣电影依然是最有价值的观影参考平台。这主要得益于豆瓣用户群的稳步扩大，以及豆瓣对水军的「非正常打分」的零容忍政策。最能体现豆瓣用户观影趣味的是「豆瓣电影 Top 250」，这个榜单类似 IMDb（互联网电影数据库）的 Top 250，目标是从所有电影中选出「最好的 250 部」。豆瓣工程师解释过豆瓣 250 的算法，它比单部电影的评分机制要复杂很多。概括来说，除了评分，这个机制的关键指标有两个：1、入选的电影应该具备人群的广泛适应性。2、入选的电影还需要具备持续关注度，不能昙花一现。 因此，《肖申克的救赎》比动漫作品《EVA》更值得进入榜单，1957 年的《十二怒汉》依然能高居榜单的第 32 名。
            </p>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>