<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body><!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <title>ALiPy主动学习Python工具包</title>
    <style>
        ul {
            list-style-type: none;
        }

        li {
            float: left;
            margin: 20px;
        }

        .row {
            border: rgba(0,0,0,0.3) 1px solid;
            margin: 10px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                ALiPy主动学习Python工具包
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                <blockquote>南京航空航天大学开源ALiPy用于主动学习的Python工具包。它不仅提供 20 余种当前最优算法的实现，还支持用户在不同主动学习环境下轻松配置和实现自己的算法。

论文链接：https://arxiv.org/pdf/1901.03802.pdfALiPy 官网地址：http://parnec.nuaa.edu.cn/huangsj/alipy/index.html

ALiPy 可为主动学习框架提供基于模块的实现，允许用户便捷地评估、对比和分析主动学习方法的性能。它可实现超过 20 种算法，还支持用户在不同的设置下轻松实现自己的方法。特征模型独立不限制分类模型的类型。

用户可以按需求在 sklearn 中使用 SVM，或者在 TensorFlow 中使用深度模型。模块独立用户可随意修改工具包中的一或多个模块，对其他模块不会产生影响。无需继承即可实现自己的算法对用户自定义函数限制极少。支持不同设置支持 Noisy oracles、Multi-label、Cost effective、Feature querying 等设置。强大的工具保存和加载中间结果、多线程、分析实验结果等。</blockquote>
来源： <em><a href="https://www.jiqizhixin.com/articles/2019-01-18-7">南京航空航天大学开源ALiPy：用于主动学习的Python工具包 | 机器之心</a></em>
            </p>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>