<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>10月10日起，沪交警将对逾期15天不缴纳罚款的加处罚款，每日3%!</title>
</head>
<body>
<div class="text-content">
    <div>
        
        图片在左边
    </div>
    <div>
        文章在右边
        <div>
            10月10日起，沪交警将对逾期15天不缴纳罚款的加处罚款，每日3%!
        </div>

        <div>
            举个例子交通违法行为人在2019年9月1日接受200元罚款处罚的应当在9月16日前缴纳罚款逾期未缴款的10月10日起将被加处罚款并从9月17日起计算逾期天数和加罚金额同时公安机关将对本市有多起违法逾
        </div>

        <div>
            
            
        </div>
    </div>
</div>

<div id="recommend-subject">
    推荐主题
    
</div>

</body>
</html>