<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body><!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <title>知识图谱得实体、概念、属性是什么？</title>
    <style>
        ul {
            list-style-type: none;
        }

        li {
            float: left;
            margin: 20px;
        }

        .row {
            border: rgba(0,0,0,0.3) 1px solid;
            margin: 10px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                知识图谱得实体、概念、属性是什么？
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                <!-- wp:paragraph -->
<p>知识图谱中包含的主要几种节点有：</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>实体：指的是具有可区别性且独立存在的某种事物。如某一个人、某一座城市、某 一种植物、某一件商品等等。世界万物有具体事物组成，此指实体。实体是知识图 谱中的最基本元素，不同的实体间存在不同的关系。</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>概念：具有同种特性的实体构成的集合，如国家、民族、书籍、电脑、组织、机构等。指的是一类对象的集合、或者某种虚拟得对象。</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>实体和概念典型特征就是准确表意，明晰的指向。不会有明显歧义或者不同理解。是一种“客观事实”的存在。</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>属性：用于区分概念的特征，不同概念具有不同的属性。不同的属性值类型对应于 不同类型属性的边。如果属性值对应的是概念或实体，则属性描述两个实体之间的 关系，称为对象属性；如果属性值是具体的数值，则称为数据属性。</p>
<!-- /wp:paragraph -->
            </p>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>