<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body><!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <title>爱车怎么赚钱</title>
    <style>
        ul {
            list-style-type: none;
        }

        li {
            float: left;
            margin: 20px;
        }

        .row {
            border: rgba(0,0,0,0.3) 1px solid;
            margin: 10px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                爱车怎么赚钱
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                ’我跑过停车场，问她是否愿意与我共进晚餐。她说好。”后来人们说，劳伦给了世界一个更好的乔布斯。爱默生说：“一个人如果懂得如何去做，那么他将永远不会失业。一个人如果懂得为什么去做，那么他将永远是自己的主宰。八扎克伯格每天都问自己这样一个问题：“我现在做的，是我所能做的最重要的事情吗？拷问自己：我现在做的是我所能做的最重要的事情吗？他说：“如果时光可以倒流，我希望我能是个更好的爸爸。“你后悔吗？”他问。坦率地说，我从未有过一秒的后悔。即使想赚更多钱，也可早可晚。
            </p>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>